@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body,html{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
}

.app-primary-color{
    background-color: #79589f;
}

.app-primary-bg-color{
    background-color: #79589f;
}